#header
    .container
        .row
            #logo-container.col-xs-6
                %img{:src=>"assets/sia.svg",:height=>"50",:style=>"opacity:.5;"}
            #button-container.col-xs-6
                -# #balance-button.header-button $4.60010
                -# #balance-button.header-button +&micro;10.15
                .header-button.update-button
                    Check for Update
                    %i.fa.fa-arrow-circle-o-up
