<!doctype html>
%html
    %head
        %title Sia

        <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
        %link{:rel => "stylesheet", :href => "libraries/font-awesome-4.2.0/css/font-awesome.min.css"}
        %link{:rel => "stylesheet", :href => "stylesheets/style.css"}

        %script{:type => "text/javascript",:src => "libraries/jquery.js"}
        -# When using atom-shell, jquery thinks it needs require to load
        %script{:type => "text/javascript"}
            window.$ = window.jQuery = require("./libraries/jquery.js");
        %script{:type => "text/javascript",:src => "libraries/jquery.ui.widget.js"}
        %script{:type => "text/javascript",:src => "libraries/jquery.iframe-transport.js"}
        %script{:type => "text/javascript",:src => "libraries/jquery.fileupload.js"}
        %script{:type => "text/javascript",:src => "scripts/system.js"}
        %script{:type => "text/javascript",:src => "scripts/util.js"}
        %script{:type => "text/javascript",:src => "scripts/controller/controller.js"}
        %script{:type => "text/javascript",:src => "scripts/controller/daemonManager.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/ui.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/queueHandler.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/header.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/FieldElement.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/overview.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/hosting.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/mining.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/manage-account.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/money.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/files.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/transfer-funds.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/upload-file.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/network.js"}
        %script{:type => "text/javascript",:src => "scripts/ui/views/about.js"}
        :javascript
            $(window).ready(function(){
                ui.init();
                controller.init();
            });

    %body
        +include "markup/header.haml"
        .container
            #sidebar-and-content
                +include "markup/sidebar.haml"
                #content
                    #loader
                        %i.fa.fa-circle-o-notch.fa-spin
                    +include "markup/pages/overview.haml"
                    +include "markup/pages/mining.haml"
                    +include "markup/pages/manage-account.haml"
                    +include "markup/pages/money.haml"
                    +include "markup/pages/files.haml"
                    +include "markup/pages/hosting.haml"
                    +include "markup/pages/transfer-funds.haml"
                    +include "markup/pages/upload-file.haml"
                    +include "markup/pages/network.haml"
                    +include "markup/pages/about.haml"
        +include "markup/hovering.haml"
