#files
    .header
        .title File Manager
        .info.capsule
            -#.pod.space ? GB
            -#.pod.cost ? SC/Y
    .cloud-control
        .pure-g
            .pure-u-1-2
                .button.upload-public
                    %i.fa.fa-upload
                    Upload File
            .pure-u-1-2
                .search
                    .text{:contentEditable=>"true"}
                    %i.fa.fa-search
    .file-browser
        .file.blueprint
            .graphic
                %i.fa.fa-file
            .available
                .yes
                    %i.fa.fa-check
                .no
                    %i.fa.fa-refresh.fa-spin
            .name exampledir1
            .size 29.4 MB
            .time 0 Blocks Remaining
